<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageAccountName" value="Replace your Storage account name" />
    <add key="StorageAccountKey" value="Replace your Storage account key" />
  </appSettings>
</configuration>